/* HTML default constructs */
body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

p,
ol,
ul {
  font-family: 'Open Sans', cursive;
  font-size: 10pt;
  color: #FFFFFF;
  text-align: justify;
}

p.guessText {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 1em;
  width: 100%;
}

footer p {
  font-family: 'Open Sans', cursive;
  font-size: 1em;
  color: #FFFFFF;
  text-align: center;
}


/* Div ids */
#middlePrompt {
  width: 25em;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

#list,
#words {
  display: none;
  width: 25em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 3em;
  color: #FFFFFF;
}

#author {
  font-family: 'Open Sans', cursive;
  font-size: 1em;
  text-align: center;
  color: #FFFFFF;
}

#controls {
  text-align: center;
  padding-top: 4em;
}

#submit {
  margin: 1em;
}

#middle {
  padding-bottom: 6em;
}

#mainContainer {
  position: relative;
  min-height: 100%;
}

#inputBox,
#guesses {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 15%;
  border: 0.5em solid #FFFFFF;
  text-align: center;
}

#playerText {
  width: 100%;
}